name: Payment Service CI/CD

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        working-directory: backend/payment-service
        run: docker build -t rishika742/payment-service:latest .

      - name: Push Docker image
        working-directory: backend/payment-service
        run: docker push rishika742/payment-service:latest
